---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "dic. 2022 - jul. 2023",
    title: "Desarrollador Web",
    company: "Eus3 Preuniversitario",
    description:
      "Desarrollé, mantuve y optimicé sistemas informáticos, asegurando su rendimiento y estabilidad. Instalé y configuré computadoras y sistemas operativos, garantizando un entorno de trabajo eficiente. Resolví problemas de red y aseguré la conectividad, proporcionando una infraestructura tecnológica confiable.",
    //link: "https://twitch.tv/midudev",
  },
  {
    date: "junio. 2021 - Jul. 2022",
    title: "Desarrollador Web",
    company: "Fundación Tejiendo Conocimiento",
    description:
      "Desarrollé y mantuve páginas web, asegurando su funcionalidad y rendimiento óptimo. Creé aplicaciones móviles y web, proporcionando soluciones innovadoras y eficientes.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
